/* color palette from <https://github.com/vuejs/theme> */
:root {
  --dark: #fbf1c7;
  --dark-1: #ebdbb2;
  --dark-2: #d5c4a1;
  --dark-3: #bdae93;
  --dark-4: #f2e5bc;
  --dark-5: #a89984;
  --light: #3c3836;
  --light-1: #282828;
  --light-2: #504945;
  --light-3: #665c54;
  --light-4: #7c6f64;
  --red: #cc241d;
  --red-1: #9d0006;
  --red-2: #fb4934;
  --green: #98971a;
  --green-1: #b8bb26;
  --green-2: #79740e;
  --yellow: #d79921;
  --yellow-1: #fabd2f;
  --yellow-2: #b57614;
  --blue: #458588;
  --blue-1: #076678;
  --blue-2: #83a598;
  --purple: #b16286;
  --purple-1: #d3869b;
  --purple-2: #8f3f71;
  --aqua: #689d6a;
  --aqua-1: #427b58;
  --aqua-2: #8ec07c;
  --gray: #a89984;
  --gray-1: #928374;
  --gray-2: #7c6f64;
  --orange: #d65d0e;
  --orange-1: #fe8019;
  --orange-2: #af3a03;
}

/* semantic color variables for this project */
:root {
  --color-background: rgba(0, 0, 0, 1);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--dark-1);
  --color-text: var(--dark-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: white;
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--light-1);
    --color-text: var(--light-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--light-2);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
