@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
  height: 100dvh;
}

@media (hover: hover) {}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}
